@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@300;400;700;800&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&family=Outfit:wght@300;400;600&family=Poppins:wght@400;500;600;700&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Inter:wght@300;400;700;800&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&family=Outfit:wght@300;400;600&family=Poppins:wght@400;500;600;700&family=Roboto:wght@700&display=swap');

$red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
//graphic design text color
$green: hsl(167, 40%, 24%);
//photography text color
$darkblue: hsl(198, 62%, 26%);
//footer color
$darkgreen: hsl(168, 34%, 41%);

$header: #3ebfff;
$footer: #8ed0c4;
$container: #fffbf8;

//Neutral colors
$darkestblue: hsl(212, 27%, 19%);
$darkgray: hsl(213, 9%, 39%);
$gray: hsl(232, 10%, 55%);
$lightgray: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

//fonts: 
// font-family: 'Barlow', sans-serif; 600
// font-family: 'Fraunces', serif; 700, 900
*{
    font-size: 18px;
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

body{

-ms-overflow-style: none; /* for Internet Explorer, Edge */
scrollbar-width: none; /* for Firefox */
overflow-y: scroll;
box-sizing: border-box;
min-height: 100vh;
display: flex;
flex-direction: column;

.nav-links {
  display: none; /* for Chrome, Safari, and Opera */
}

}
h1, h2, h3, h4{
    font-family: "Fraunces", serif;
    font-weight: 700;
}
header{
background-image: url("images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40rem;
  max-height: 100%;
  text-align: center;
  background-color: $header;
}
nav{
    position: relative;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    list-style: none;
    a{
        font-family: "Barlow", sans-serif;
        font-weight: 600;
        text-decoration: none;
        color:$gray;
        line-height: 2rem;
    }

    ul{
        list-style: none;
    }
}
.contact{
    display: inline-block;
    border-radius: 1rem;
    background-color: $yellow;
    color: $darkestblue;
    font-family: "Fraunces", sans-serif;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    font-weight: 900;
    font-size: 1rem;
    margin-right: 0.4rem;
}

.contact:hover{
    background-color: #47c5ff;
    color: $white;
    transition: .5s;
}
//js component for .shown
//White box for speech bubble
.nav-links.shown {
display: flex;
position: absolute;
flex-direction: column;
gap: 2rem;
padding: 2rem;
background-color: $white;
width: 50%;
top: 50%;
left: 50%;
transform: translate(-50%, 20%);
}

//white triangle for speech bubble
.nav-links.shown::after {
content: "";
position: absolute;
margin-top: -25%;
right: 0;
width: 0;
height: 0;
transform: translate(0, 10%);
background-color: transparent;
border-left: 40px solid transparent;
border-bottom: 40px solid transparent;
border-top: 40px solid transparent;
border-right: 40px solid $white;
}

.logo{
    max-width: 100%;
}

.fa-bars{
   cursor: pointer;
   color: $white;
   font-size: 1.6rem;
   height: 2rem;
   width: 1.5rem;
}

h1 {
    font-size: 2.1rem;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    padding: 4rem 0;
    font-weight: 900;
    letter-spacing: 0.6rem;
  }
  
.arrow-img {
    margin: 0 auto;
    margin-top: 1rem;
    height: 15%;
}
// Section 1
.transform-img{
    background-image: url("images/mobile/image-transform.jpg");
}
.standout-img{
    background-image: url("images/mobile/image-stand-out.jpg");
}
.transform-img, .standout-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 17rem;
  min-width: 50%;
  height: 100%;
}

.transform, .standout{
    display: flex;
    flex-direction: column;
    height: 40rem;
    min-height: 50%;
    margin-bottom: 2rem;
    h2{
        font-size: 2.4rem;
        line-height: 3rem;
    }
    p{
        margin-top: 2rem;
        font-family: "Barlow", sans-serif;
        font-size: 1rem;
        line-height: 2rem;
        color: $gray;
    }
    a{  
        margin-top: 1.5rem;
        font-family: "Fraunces", sans-serif;
        color: $darkestblue;
        //for .transform only
        text-decoration-color: $yellow;
        text-decoration-thickness: .5rem;
        text-underline-offset: 2px;
        text-transform: uppercase;
    }
}

.transform section, .standout section{
    display: flex;
    flex-direction: column;
    background-color: $white;
    text-align: center;
    padding: 2rem;
}

//edits anchor tag underline on .standout only. Otherwise color would inherit #yellow
.standout {
    margin-bottom: -12rem;
    a {
    text-decoration-color: pink;
  }
}

.section-3{
    background-image: url("images/mobile/image-graphic-design.jpg");
}

.section-4{
    background-image: url("images/mobile/image-photography.jpg");
}

.section-3, .section-4{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-width: 50%;
    min-height: 33rem;
    height: 100%;
}

.graphic-and-photography{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50rem;
    section{
        text-align: center;
    }
}

.section-3{
    min-width: 50%;
    min-height: 33rem;
    margin-top: 13rem;
}

.section-3-text, .section-4-text{
    text-align: center;
    margin-top: 22rem;
    margin-left: 1rem;
    margin-right: 1rem;
    h2{
        font-size: 2rem;
    }
    p{
        font-family: "barlow", sans-serif;
        margin: 2rem;
        font-size: .8rem;
        line-height: 1.3rem;
    }
}

.section-3-text{
    color: $green;
}

.section-4-text{
    color:$darkblue;
}


.testimonials{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    h3{
        color: $lightgray;
        font-size: .8rem;
        letter-spacing: .3rem;
        text-transform: uppercase;
    }
}

.profiles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .review, .author-job{
        font-family: "barlow", sans-serif;
        margin: auto;
        color: $darkgray;
        line-height: 1.9rem;
        max-width: 80%;
    }
    .author{
        margin-top: 1.5rem;
        font-size: 1.2rem;
        font-weight: 700;
    }
    .author-job{
        font-size: .8rem;
        color: $gray;
    }
    img{
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 1.4rem;
        border-radius: 50%;
    }
}

.image-grid{
    display: grid;
    grid-template-areas: ".milk" ".orange" ".cone" ".sugar";
    height: 40rem;
    width: 100%;
}

.milk{
background-image: url("images/mobile/image-gallery-milkbottles.jpg");
}
.orange{
background-image: url("images/mobile/image-gallery-orange.jpg");
}
.cone{
    background-image: url("images/mobile/image-gallery-cone.jpg");
}
.sugar{
    background-image: url("images/mobile/image-gallery-sugar-cubes.jpg");
}

.milk, .orange, .cone, .sugar{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $footer;
    font-family:"barlow", sans-serif;
    margin-top: -20rem;
    min-height: 20rem;
      .attribution { 
        margin-top: .2rem;
        line-height: 1.2rem;
        font-size: 8px; 
        text-align: center;
        background-color: $footer; 
        padding: 1.2rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
      .attribution a { color: hsl(228, 45%, 44%); }
      height: 10rem;
      .logo{
        margin-top: 4rem;
      }
}

.footer-links, .social-links{
display: flex;
justify-content: space-evenly;
width: 70%;
flex-direction: row;
margin: auto;
margin-top: 2rem;
list-style: none; 
font-family: "barlow", sans-serif;
a{
text-decoration: none;
color:hsl(168, 34%, 41%);
}

a:hover{
    color: white;
    transition: .5s;
}
}

//Desktop version
@media screen and (min-width: 1000px){

    //Desktop images
    header {
        background-image: url("images/desktop/image-header.jpg");
      }
      .transform-img {
        background-image: url("images/desktop/image-transform.jpg");
      }
    
      .standout-img {
        background-image: url("images/desktop/image-stand-out.jpg");
      }
      .milk {
        background-image: url("images/desktop/image-gallery-milkbottles.jpg");
      }
    
      .orange {
        background-image: url("images/desktop/image-gallery-orange.jpg");
      }
    
      .cone {
        background-image: url("images/desktop/image-gallery-cone.jpg");
      }
    
      .sugar {
        background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
      }


    .fa-bars, .nav-links.shown{
        display: none;
    }

    body .nav-links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        a{
            color: white;
            font-size: .8rem;
        }
        .contact{
            background-color: $container;
            color: $darkestblue;
            border-radius: 2rem
        }
    }

    .links{
        display: flex;
        flex-direction: row;
        gap: 2.6rem;
        justify-content: space-evenly;
        margin-right: 2.8rem;
    }

    .image-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 2fr;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
      .transform {
       flex-direction: row-reverse;
      }
      .transform section, .standout section{
        text-align: left;
        padding: 8rem 9rem;
      }
      .standout{
        flex-direction: row;
        margin-top: -2rem;
      }
 
       .transform-img, .standout-img{
        min-height: 100%;
        min-width: 50%;
        margin: 0;
        padding: 0;
       }
       .graphic-and-photography{
        flex-direction: row;
        margin-top: -3rem;
       }
       .section-4{
        margin-top: 13rem;
       }
       .testimonials{
        width: 80%;
        padding-top: 3rem;
        padding-bottom: 4rem;
       }
       .testimonials, .profiles{
        flex-direction: row;
        p{
            font-size: .8rem;
        }
        h3{
            margin-bottom: 2rem;
        }
        .author-job{
            font-size: .6rem;
        }

       }
       .section-3, .section-4 img{
       background-position: center;
       }
       //end main section adjustments
    }
        //footer section
       .social-links,.footer-links{
        max-width: 20%;
       }
    
    }
    
    
 


